<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Sora:wght@100;500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/styles.css">
        <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
        <title>Printcenter Soluciones Gráficas</title>
    </head>
    <body>
        <header class="header">
            <section class="menu__header">
                <div>
                    <img src="../Img/Logo Printcenter - letras blancas.png" class="logo__header" alt="Logo_Printcenter">
                </div>
                <input type="checkbox" id="menu-check">
                    <label id="menu" for="menu-check">
                        <span id="menu-abrir">&#9776;</span>
                        <span id="menu-cerrar">X</span>
                    </label>
                <nav class="nav__header">
                    <a href="../index.html">Home</a>
                    <a href="./Nosotros.html">Nosotros</a>
                    <a href="./Servicios.html">Servicios</a>
                    <a href="./Portfolio.html">Portfolio</a>
                    <a href="./Contacto.html">Contacto</a>
                </nav>
            </section>              
        </header>
            <main class="principal">
                <section class="seccion">
                    <h1 class="titulo__principal">QUIENES SOMOS</h1>
                </section>
                <section class="seccion__nosotros">
                        <div class="informacion">
                            <p>Somos una empresa especializada dentro del sector industrial argentino, que fue fundada en el año 1984.
                            Basamos nuestra actividad principal en la impresión de piezas editoriales y comerciales. Desde hace menos de un año, incorporamos tecnología de última generación y de este modo sumamos a nuestro portfolio la división de comunicación.<br><br>
                            Contamos con un edificio propio de aproximadamente 4.000 metros cuadrados, ubicado en el centro geográfico de la Ciudad de Buenos Aires, que fue concebido y está íntegramente diseñado para la actividad gráfica.<br><br>
                            Estamos certificados bajo las Normas ISO 9001, en todos nuestros procesos,  desde hace  más de 15 años.
                            Nuestro compromiso con la satisfacción de nuestros clientes y la calidad es constante.<br>Y desde nuestros inicios, actúa como motor y referente principal para el desarrollo y crecimiento de nuestra empresa.
                            </p>
                        </div>
                    <div class="imagen__nosotros">
                        <img src="../Img/Nosotros_1_1.jpg" alt="Imagen de nosotros">
                    </div>
                </section>
                <div class="planta__pc">
                    <img src="../Img/Foto_planta_PC.png" alt="Nuestra planta">                    
                </div>
            </main>
            <footer>
                <section class="footer__menu">
                    <nav class="footer__nav">
                        <a href="../index.html">Home</a>
                        <a href="./Nosotros.html">Nosotros</a>
                        <a href="./Servicios.html">Servicios</a>
                        <a href="./Portfolio.html">Portfolio</a>
                        <a href="./Contacto.html">Contacto</a>
                    </nav>
                    <section class="redes__info">
                        <div class="redes__container">
                            <ul>
                                <li><a href="https://es-la.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/?lang=es" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.whatsapp.com/?lang=es" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                            </ul>
                        </div>   
                        <div class="info__footer">
                            <div class="email">
                                <a href="mailto:info@printcenter.com">info@printcenter.com</a>
                            </div>
                            <div class="phone">
                                <a href="callto: 54 11 5555-5555">(+54-11) 5555-5555</a>
                            </div>                           
                        </div>                        
                    </section>
                        <div class="copyright">
                            <p>Copyright 2022 © All rights Reserved</p>
                        </div>                    
                </section>               
            </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>               
    </body>
</html>