<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Sora:wght@100;500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/styles.css">
        <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
        <title>Printcenter Soluciones Gráficas</title>
    </head>
    <body>
        <header class="header">
            <section class="menu__header">
                <div>
                    <img src="../Img/Logo Printcenter - letras blancas.png" class="logo__header" alt="Logo_Printcenter">
                </div>
                <input type="checkbox" id="menu-check">
                    <label id="menu" for="menu-check">
                        <span id="menu-abrir">&#9776;</span>
                        <span id="menu-cerrar">X</span>
                    </label>
                    <nav class="nav__header">
                        <a href="../index.html">Home</a>
                        <a href="./Nosotros.html">Nosotros</a>
                        <a href="./Servicios.html">Servicios</a>
                        <a href="./Portfolio.html">Portfolio</a>
                        <a href="./Contacto.html">Contacto</a>
                    </nav>
            </section>              
        </header>
            <main class="principal">
                <section>
                    <h1 class="titulo__principal">NUESTROS TRABAJOS</h1>
                </section>
                <main id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                    <section class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </section>
                    <section class="carousel-inner">
                        <div class="carousel-item">
                            <img src="../Img/Portfolio/Portfolio_01.png" class="d-block w-100" alt="Slide1">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Sublimación y Estampados</h5>
                            <p>Sublimado y estampado sobre todo tipo de telas.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../Img/Portfolio/Portfolio_02.png" class="d-block w-100" alt="Slide2">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Folletería y tarjeteria - Offset y digital</h5>
                            <p>Impresión offset y digital sobre gran variedad de papeles y terminaciones.</p>
                            </div>
                        </div> 
                        <div class="carousel-item active">
                            <img src="../Img/Portfolio/Portfolio_03.png" class="d-block w-100" alt="Slide3">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Gigantografias - Banners y portabanners</h5>
                            <p>Impresiones de gran formato en plotters de calidad fotográfica</p>
                            </div>
                        </div>                                               
                        <div class="carousel-item">
                            <img src="../Img/Portfolio/Portfolio_04.png" class="d-block w-100" alt="Slide4">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Merchandising Empresarial</h5>
                            <p>Personalizacion de lápiceras, Bolsos, Mochilas, Jarros y mucho mas... </p>
                            </div>
                        </div>
                    </section>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </main>
                    <section class="cards__portfolio">
                        <div class="col">
                            <div class="card">
                            <img src="../Img/Portfolio/Fondo-cards-portfolio-Sublimacion.png" class="card-img-top" alt="Imagenes Sublimacion">
                                <div class="card-body">
                                    <h5 class="card-title">Impresion sobre telas</h5>
                                    <p class="card-text">La sublimación es una técnica de estampado en la cual, mediante un proceso químico, se pasa la tinta del estado sólido al gaseoso, transfiriendo de esta manera el diseño deseado a una tela.
                                    <br><br>La tinta es solidificada por medio de una máquina de impresión (plotter) en un papel especial para sublimación y luego es gasificada en una plancha sublimadora a más de 200ºC, impregnando la tinta directamente en el tejido sin modificar su textura.
                                    <br><br>Con este proceso, los diversos tintes sólidos vaporizados abren los poros del poliéster, impregnándolo exterior e interiormente con sus diversos colores, gamas y matices, haciéndose parte de dicho material. De esta forma, otorga al estampado una gran resistencia a golpes, rayones e incluso al desgaste natural por el uso.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../Img/Portfolio/Fondo-cards-portfolio-Offset.png" class="card-img-top" alt="Imagenes Offset">
                                <div class="card-body">
                                    <h5 class="card-title">Tarjetas personales, Folletos y Carpetas</h5>
                                    <p class="card-text">El principio de funcionamiento es similar al de la litografía: La plancha se moja con agua o una solución polar para que repela la tinta en las zonas de no imagen (zona hidrófila), para que el resto de la plancha tome la tinta en las zonas donde hay un compuesto hidrófobo o apolar (también conocido como lipófila) con la forma del motivo a imprimir previamente grabado en la plancha, sea por métodos manuales o por fotograbado. <br><br>La diferencia con la litografía tradicional es que la imagen o el texto se trasfieren a la superficie a imprimir no de forma directa, sino a través un cilindro cubierto en su superficie por un material flexible (mantilla), generalmente caucho o silicona, que recibe la imagen para transferirla, por presión, a la superficie impresa, generalmente papel.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="../Img/Portfolio/Fondo-cards-portfolio-gigantografia.png" class="card-img-top" alt="Gigantografias">
                                <div class="card-body">
                                    <h5 class="card-title">Impresiones gran formato</h5>
                                    <p class="card-text">Las llamadas gigantografías son pósters o carteles impresos en gran formato, básicamente grandes piezas impresas en materiales diferentes. <br><br>Generalmente más grandes que el estándar póster de 100x70. En los años 50 y 60 estuvo muy de moda empapelar una pared con una foto gigante (de un bosque, ciudad, playa, etc), estas fotos no eran de muy buena calidad, porque la tecnología no permitía la alta definición que hoy día se puede obtener.
                                    <br><br>Las gigantografías se pueden hacer en impresión por inyección de tinta, láser o en revelado químico, siendo este último el método que brinda el resultado con mejor calidad, resolución y definición, pese a la limitación de tamaño.
                                    Actualmente la tecnología por inyección de tinta es la más popular.</p>
                                </div>
                            </div>
                        </div>
                            <div class="col">
                                <div class="card">
                                    <img src="../Img/Portfolio/Fondo-cards-portfolio-Merchandising.png" class="card-img-top" alt="Imagen Merchandisign">
                                    <div class="card-body">
                                        <h5 class="card-title">Merchandising</h5>
                                        <p class="card-text">Proyectamos diseños completos, fundamentados por un alto grado de creatividad. La idea forma parte de un concepto fuerte para lograr un objetivo concreto.<br><br>Nos centramos en la base de la estructura a tratar, y luego aplicamos las ideas de programación necesarias para que cada plataforma sea eficiente.<br><br>Captamos, fidelizamos y posicionamos. Contamos con una extensa cartera de clientes que avalan nuestros resultados.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            <footer>
                <section class="footer__menu">
                    <nav class="footer__nav">
                        <a href="../index.html">Home</a>
                        <a href="./Nosotros.html">Nosotros</a>
                        <a href="./Servicios.html">Servicios</a>
                        <a href="./Portfolio.html">Portfolio</a>
                        <a href="./Contacto.html">Contacto</a>
                    </nav>
                    <section class="redes__info">
                        <div class="redes__container">
                            <ul>
                                <li><a href="https://es-la.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/?lang=es" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.whatsapp.com/?lang=es" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                            </ul>
                        </div>   
                        <div class="info__footer">
                            <div class="email">
                                <a href="mailto:info@printcenter.com">info@printcenter.com</a>
                            </div>
                            <div class="phone">
                                <a href="callto: 54 11 5555-5555">(+54-11) 5555-5555</a>
                            </div>                           
                        </div>                        
                    </section>
                        <div class="copyright">
                            <p>Copyright 2022 © All rights Reserved</p>
                        </div>                    
                </section>               
            </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>            
    </body>
</html>