<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Sora:wght@100;500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/styles.css">
        <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/07b65a0fc6.js" crossorigin="anonymous"></script>
        <title>Printcenter Soluciones Gráficas</title>
    </head>
    <body>
        <header class="header">
            <section class="menu__header">
                <div>
                    <img src="../Img/Logo Printcenter - letras blancas.png" class="logo__header" alt="Logo_Printcenter">
                </div>
                <input type="checkbox" id="menu-check">
                    <label id="menu" for="menu-check">
                        <span id="menu-abrir">&#9776;</span>
                        <span id="menu-cerrar">X</span>
                    </label>
                    <nav class="nav__header">
                        <a href="../index.html">Home</a>
                        <a href="./Nosotros.html">Nosotros</a>
                        <a href="./Servicios.html">Servicios</a>
                        <a href="./Portfolio.html">Portfolio</a>
                        <a href="./TiendaOnline.html">Tienda</a>
                        <a href="./Contacto.html">Contacto</a>
                    </nav>
            </section>              
        </header>
            <main class="principal">
                <div>
                    <h1 class="titulo__principal">SERVICIOS</h1>
                </div>
                <article class="container">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="../Img/offset_1.png" class="card-img-top" alt="Impresora offset">
                                <div class="card-body">
                                    <h3 class="card-title">Impresion offset</h3>
                                    <p class="card-text">La impresión offset es el sistema tradicional. Está diseñado para imprimir grandes, medianas y pequeñas tiradas, con excelente calidad de impresión y a una alta velocidad. Permite imprimir en CMYK (Cyan/Magenta/Amarillo y Negro), más Pantones®, colores especiales y barniz en línea.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../Img/Digital_1.png" class="card-img-top" alt="Impresora láser digital">
                                <div class="card-body">
                                    <h3 class="card-title">Impresion Láser Digital</h3>
                                    <p class="card-text">La impresión digital es un sistema que mejoró exponencialmente su calidad en los últimos años, logrando hoy en día una reproducción similar a la del Offset tradicional. Es ideal para imprimir tiradas de bajo volumen y que necesiten un formato de pliego menor al de Offset.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../Img/Com_Visual_1.png" class="card-img-top" alt="Comunicación visual">
                                <div class="card-body">
                                    <h3 class="card-title">Comunicación Visual</h3>
                                    <p class="card-text">En Comunicación Visual la impresión se asemeja mucho a lo que expresamos previamente respecto a la impresión digital, ya que la información pasa directamente del ordenador a la impresora, con la ventaja que se puede imprimir sobre prácticamente todo tipo de sustratos (flexibles y rígidos en un espesor máximo de hasta 5 cms).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <section>
                    <div class="container__servicios">
                        <div class="Offset_2">
                            <img src="../Img/offset_2.png" alt="offset_2" width="350px">
                        </div>
                        <div class="Offset_3">
                            <img src="../Img/offset_3.png" alt="offset_3" width="350px">
                        </div>
                        <div class="Digital_2">
                            <img src="../Img/Digital_2.png" alt="Digital_2" width="350px">
                        </div>
                        <div class="Digital_3">
                            <img src="../Img/Digital_3.png" alt="Digital_3" width="350px">
                        </div>
                        <div class="Com_Visual_2">
                            <img src="../Img/Com_Visual_2.png" alt="Com_visual_2" width="350px">
                        </div>
                        <div class="Com_Visual_3">
                            <img src="../Img/Com_Visual_3.png" alt="Com_visual_3" width="350px">
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <section class="footer__menu">
                    <nav class="nav__header">
                        <a href="../index.html">Home</a>
                        <a href="./Nosotros.html">Nosotros</a>
                        <a href="./Servicios.html">Servicios</a>
                        <a href="./Portfolio.html">Portfolio</a>
                        <a href="./TiendaOnline.html">Tienda</a>
                        <a href="./Contacto.html">Contacto</a>
                    </nav>
                    <section class="redes__info">
                        <div class="redes__container">
                            <ul>
                                <li><a href="https://es-la.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/?lang=es" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.whatsapp.com/?lang=es" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                            </ul>
                        </div>   
                        <div class="info__footer">
                            <div class="email">
                                <a href="mailto:info@printcenter.com">info@printcenter.com</a>
                            </div>
                            <div class="phone">
                                <a href="callto: 54 11 5555-5555">(+54-11) 5555-5555</a>
                            </div>                           
                        </div>                        
                    </section>
                        <div class="copyright">
                            <p>Copyright 2022 © All rights Reserved</p>
                        </div>                    
                </section>               
            </footer>            
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>