//FOOTER

footer{
    width: 90%;
    max-width: 1200px;
    margin: $spacing-base auto;
    display: grid;
    grid-gap: $spacing-base;
    grid-template-columns: (1fr);
    grid-template-rows: (1fr);
    grid-template-areas: 'footer';
    padding: $spacing-small;
    background-image: $background-gradient;
	box-shadow: 0px 0px 70px $box-shadow;
}

.footer__nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    padding: $spacing-small;
}

.footer__menu li{
    list-style: none;

    & a{
        text-decoration: none;
        color: $alternative2;
        font-size: $text-small;
        align-items: center;
    
        &:hover{
            color: $primary;
        }
    }
}

.redes-container{
    display: flex;
    align-items: center;

    & ul li{
        display: inline-block;
        margin: 0 $spacing-xsmall;
        width: $width-base;
        height: $width-base;
        text-align: center;

        & .facebook:hover{
            background: $facebook;
        }

        & .twitter:hover{
            background: $twitter;
        }

        & .instagram:hover{
            background: $instagram;
        }

        & .whatsapp:hover{
            background: $whatsapp;
        }

        & a{
            display: block;
            padding: 0 $spacing-xxsmall;
            background: $background-color-2;
            color: $alternative2;
            line-height: $spacing-large;
            font-size: $text-large;            

            &:hover{
                transform: translateY(3px) scale(1.05);
                box-shadow: 0 5px 5px 0px rgba($color: #000000, $alpha: 0.4);
            }
        }   
    }
}

.formulario2{
    width: 50%;
    padding: $spacing-small;
    margin: $spacing-xsmall;
    text-align: justify;
    font-size: $text-base;
}

.info-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    & .email{
        font-size: $text-small;
        text-decoration-line: none;
        padding: $spacing-xsmall;
    }

    & .phone{
        color: $alternative2;
        font-size: $text-small;
        padding: $spacing-xsmall;
    }

    & .copyright{
        font-size: $text-xxsmall;
        padding: $spacing-xsmall;
    }
}

//RESPONSIVE

@media (max-width: 992px) {
    .footer__nav{
        display: flex;
        flex-direction:row;
        padding: $spacing-xsmall;
    }
}

@media (max-width: 768px){
    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: $spacing-small;
    }
}

@media (max-width: 576px) {
    
    .footer__nav{
        display: flex;
        flex-direction:column;
        padding: $spacing-xsmall;
    }

    .menu a {
        font-size: $text-xsmall;
    }

    .redes_sociales{
        margin: $spacing-xxsmall;
        width: $width-base;
    }

    .copyright{
        font-size: $text-xsmall;
    }

}

@media (max-width: 320px){
    
    .footer__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}