/*---CONTACTO---*/

.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.form-header h3{
    color: $titulo-h3-color;
    font-weight: bolder;
}

.ayuda{
    font-size: $text-small;
    width: 50%;
    margin-top: $spacing-base;
    text-align: justify;
    font-family: $font-secondary;
    line-height: $line-height-small;

    & h3{
        font-weight: bolder;
    }

    &p{
        font-weight: bolder;
    }
}

.contenedor .form{
    width: 450px;
    background: $background-color;
    margin-top: $spacing-large;
    padding: $spacing-small;
    border-bottom-right-radius: $radius-large;
    border-bottom-left-radius: $radius-large;

    & .form-header .form-title{
        font-weight: normal;
        color: $background-color;
        text-align: center;
        padding: $spacing-base;
    }

    & .form-label{
        display: flex;
        color: $text-color-2;
        font-size: $text-base;
        font-family: $font-secondary;
    }

    & .form-input, .form-textarea {
        background: $alternative2;
        border: none;
        outline: none;
        width: 100%;
        padding: $spacing-small;
        margin-bottom: $spacing-small;
        font-family: $font-secondary;
        font-size: $text-xsmall;
    }

    & .form-textarea{
        resize: vertical;
        max-height: $spacing-xlarge;
        min-height: $spacing-large;
        font-family: $font-secondary;
        font-size: $text-small;
    }

    & .btn-submit{
        width: 100%;
        background: $background-color;
        font-size: $text-small;
        border: none;
        color: $alternative2;
        padding: $spacing-small 0px;
        cursor: pointer;
        transition: all .5s;
        border-bottom-right-radius: $radius-small;
        border-bottom-left-radius: $radius-small;
        
        &:hover{
            background: $secondary;
        }    
    }    
}

.map-responsive{
    margin-top: $spacing-base;
}

//REPONSIVE

@media (max-width: 576px) {
    .ayuda{
        font-size: $text-base;
        width: 100%;
        margin-top: $spacing-xsmall;
    }

    .contact-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
    }
    
    .map-responsive{
        width: 300px;
        text-align: center;
    }
}