/*---HOME---*/

.principal {
    width: 90%;
    max-width: 1200px;    
    margin: $spacing-base auto;
    display: grid;
    grid-gap: $spacing-small;
    grid-template-columns: (1fr);
    grid-template-rows: (1fr);
    grid-template-areas: 'principal';
    padding: $spacing-base;
	background-color: $alternative2;
    box-shadow: 0px 5px 70px $box-shadow;
}

.card{
    margin-top: $spacing-base;
    border-radius: $radius-small;
    border-radius: $radius-small;
    height: 500px;    
}

.card-text{
    font-size: $text-small;
    line-height: $line-height-small;
    font-family: $font-secondary;
    padding: $spacing-base;
    text-align: justify;
    color: $text-color-3;
}

.card-title{
    margin-top: $spacing-small;
    font-size: $text-medium;
    font-weight: bold;
    text-align: center;
    color: $text-color-5;
}

.card-img-top{
    padding: $spacing-small;
}

.card:hover{
    box-shadow: 5px 5px 30px $box-shadow;
    transition: all 0.5s ease;
}

.articulos{
    width: 95%;
    margin: $spacing-small auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;
        
    &>p{
        font-size: $text-base;
        text-align: center;
        color: $secondary;
        width: 100%;
        margin: $spacing-small 0px $spacing-small 0px;
        font-family: $font-principal;
        padding: $spacing-xsmall;
    }
}

.pilares{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $spacing-base;
    
        & figure{
            position:relative;
            height: 300px;
            cursor: pointer;
            width: 450px;
            overflow: hidden;
            border-radius: $radius-xsmall;
            box-shadow: 0px 15px 25px $box-shadow;
        
            & img{
                width: 100%;
                height: 100%;
                transition: all 400ms ease-out;
                will-change: transform;
            }
    
            & .capa{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: $background-color-3-transparent;
                transition: all 400ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            
                & h3{
                    color: #fff;
                    font-weight: 400;
                    margin-bottom: 120px;
                    transition: all 400ms ease-out;
                    margin-top: $spacing-medium;
                    font-size: $text-medium;
                }
    
                & p{
                    color: #fff;
                    font-size: 15px;
                    line-height: 1.5;
                    width: 100%;
                    max-width: 320px;
                    margin: auto;
                }        
            }
    
            &:hover > .capa {
                opacity: 1;
                visibility: visible;
            
                & h3{
                    margin-top: 70px;
                    margin-bottom: 15px;
                }
            }    
        }
    
        & figure:hover > img{
            transform: scale(1.3);
        }
    }

}











//RESPONSIVE

@media (max-width: 992px) {
    .articulos2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $spacing-small;
    }
    
    .articulos2>p{
        font-size: $text-base;
        text-align: center;
        color: $background-color;
        width: 70%;
        margin: $spacing-medium 0px $spacing-medium 0px;
    }
    
    .pilares {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
        background: none;
        
    }
    
    .pilares img{
        width: 150px;
        padding: $spacing-base;
    }
    
    .pilares p{
        font-size: $text-base;
        padding: $spacing-xsmall;
        font-weight: bold;
        text-align: center;
    }

    .card-text{
        font-size: $text-small;
    }
}

@media (max-width: 320px) {
    .titulo__principal{
        margin-top: $spacing-small;
        text-align: center;
        font-size: $text-base;
        color: $titulo-h1-color;
        font-weight: bold;
    }

    .card-img-top{
        width: 230px;
    }

    .card-text{
        font-size: $text-xsmall;
    }

    .articulos2>p{
        font-size: $text-xsmall;
    }

    .pilares p{
        font-size: $text-xsmall;
        margin: $spacing-xxsmall 0px $spacing-xxsmall 0px;
    }

    h2{
        font-size: $text-xxsmall;
    }
}
