/*---HOME---*/

.principal {
    width: 90%;
    max-width: 1200px;    
    margin: $spacing-base auto;
    display: grid;
    grid-gap: $spacing-small;
    grid-template-columns: (1fr);
    grid-template-rows: (1fr);
    grid-template-areas: 'principal';
    padding: $spacing-base;
	background-color: $alternative2;
    box-shadow: 0px 5px 70px $box-shadow;
}

.card{
    margin-top: $spacing-base;
    border-radius: $radius-small;
    border-radius: $radius-small;
    height: 500px;    
}

.card-text{
    font-size: $text-small;
    line-height: $line-height-small;
    font-family: $font-secondary;
    padding: $spacing-base;
    text-align: justify;
    color: $text-color-3;
}

.card-title{
    margin-top: $spacing-small;
    font-size: $text-medium;
    font-weight: bold;
    text-align: center;
    color: $text-color-5;
}

.card-img-top{
    padding: $spacing-small;
}

.card:hover{
    box-shadow: 5px 5px 30px $box-shadow;
    transition: all 0.5s ease;
}

.articulos{
    width: 95%;
    margin: $spacing-small auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-small;
        
    &>p{
        font-size: $text-base;
        text-align: center;
        color: $secondary;
        width: 100%;
        margin: $spacing-small 0px $spacing-small 0px;
        font-family: $font-principal;
        padding: $spacing-xsmall;
    }
}

.pilares{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $spacing-base;
    
        & figure{
            position:relative;
            height: 250px;
            cursor: pointer;
            width: 400px;
            overflow: hidden;
            border-radius: $radius-xsmall;
            box-shadow: 0px 15px 25px $box-shadow;
        
            & img{
                width: 100%;
                height: 100%;
                transition: all 400ms ease-out;
                will-change: transform;
            }
    
            & .capa{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: $background-color-3-transparent;
                transition: all 400ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            
                & h3{
                    color: $alternative;
                    font-weight: 400;
                    margin-bottom: 120px;
                    transition: all 400ms ease-out;
                    margin-top: $spacing-medium;
                    font-size: $text-medium;
                }
    
                & p{
                    color: $alternative;
                    font-size: $text-small;
                    line-height: 1.5;
                    width: 100%;
                    max-width: 320px;
                    margin: auto;
                }        
            }
    
            &:hover > .capa {
                opacity: 1;
                visibility: visible;
            
                & h3{
                    margin-top: $spacing-large-3;
                    margin-bottom: $spacing-small;
                }
            }    
        }
    
        & figure:hover > img{
            transform: scale(1.3);
        }
    }
}

.pilares2{
    display: none;
}


//RESPONSIVE

@media (max-width: 1060px){
    .pilares{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }   
}

@media (max-width: 992px){
    .pilares {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
        background: none;
        
    }
    
    .pilares img{
        width: 250px;
        padding: $spacing-base;
    }
    
    .pilares p{
        font-size: $text-base;
        padding: $spacing-xsmall;
        font-weight: bold;
        text-align: center;
    }

    .card-text{
        font-size: $text-small;
        text-align: center;
    }
}

@media (max-width: 586px){
    .titulo__principal{
        margin-top: $spacing-small;
        text-align: center;
        font-size: $text-large;
    }
    
    .pilares{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    & .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $spacing-base;
    
        & figure{
            position:relative;
            height: 250px;
            cursor: pointer;
            width: 400px;
            border-radius: $radius-xsmall;
            box-shadow: 0px 15px 25px $box-shadow;
        
            & img{
                width: 100%;
                height: 100%;
                transition: all 400ms ease-out;
                will-change: transform;
            }
    
            & .capa{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: $background-color-3-transparent;
                transition: all 400ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            
                & h3{
                    color: $alternative;
                    font-weight: 400;
                    margin-bottom: 120px;
                    transition: all 400ms ease-out;
                    margin-top: $spacing-medium;
                    font-size: $text-medium;
                }
    
                & p{
                    color: $alternative;
                    font-size: $text-small;
                    line-height: 1.5;
                    width: 100%;
                    max-width: 320px;
                    margin: auto;
                }        
            }
    
            &:hover > .capa {
                opacity: 1;
                visibility: visible;
            
                & h3{
                    margin-top: $spacing-large-3;
                    margin-bottom: $spacing-small;
                }
            }    
        }
    }
}
}

@media (max-width: 500px){
    .pilares{
        display: none;
    }

    .pilares2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid $secondary;
        padding: $spacing-small;
            
        & h3{
            color: $text-color-5;
            font-size: $text-base;
        }

        & li{
            margin-top: $spacing-small;
        }

        & p{
            font-size: $text-small;
            color: $text-color-3;
            text-align: match-parent;
        }
    
    }


}

@media (max-width: 320px) {
    .titulo__principal{
        margin-top: $spacing-small;
        text-align: center;
        font-size: $text-medium;        
    }  

    & h2{    
        font-size: $text-xxsmall;
    }

    .card{
        margin-top: $spacing-xsmall;
        height: 350px;    
    }

    .card-text{
        font-size: $text-xsmall;
        line-height: $line-height-xsmall;
    }

    .pilares2{
        padding: $spacing-xsmall;
            
        & h3{
            color: $text-color-5;
            font-size: $text-small;
        }

        & li{
            margin-top: $spacing-xsmall;
        }

        & p{
            font-size: $text-xsmall;
            color: $text-color-3;
            text-align: match-parent;
        }
    
    }

}

