.principal{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: $spacing-medium;
    

}

.Cards{
    display: flex;
    flex-direction: row;

    & .imgCont{
        width:300px;
        height:250px;
        overflow:hidden;                  

        &:hover .imgCard{
            width:250px;
            height:250px;
            transform: scale(1.3);
            transition: ease-in-out 0.8s;            
        }
    }    
}

.infoCard{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: $spacing-small;
        
    & .descripcion{
        font-size: $text-small;
        font-family: $font-secondary;
        text-align: justify;
        line-height: 1.2em;
        margin-left: $spacing-small;
        flex-grow: 1;

        & >span{
            font-weight: bolder;
        }
    }

    & .cardTitle{
        color: $text-color-5;
        font-weight: bold;
        margin-left: $spacing-small;
    }

    & .cantidad{
        color:$text-color-6;
        font-family: $font-secondary;
        font-size: $text-small;
        font-weight: bold;
        margin-left: $spacing-small;

    }

    & .boton{
        width: 100px;
        padding: $spacing-xxsmall $spacing-xxsmall;
        background-color: $secondary;
        text-decoration: none;
        font-size: $text-base;
        color: $text-color-2;
        border-radius: 10px;
        margin-top: 10px;
        font-family: $font-secondary;
        text-align: center;
        margin-left: $spacing-small;
        display: block;
        position: relative;
        
        &:hover{
            background-color: $background-color-3;
            font-weight: bold;           
        }
    }
}





